<!DOCTYPE html>
<html lang="en" dir="ltr">

<head th:insert="fragments/head(title='Locadora Online')">
	<meta charset="utf-8">
</head>

<body>
  <header th:insert="fragments/headerAdmin(opc=1)"/>

  <div class="card-header margin-top">LISTA DE FILMES <div><a th:href="@{/administrador/filmes/add}"> Cadastrar Novo Filme </a></div> </div>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">TÍTULO</th>
        <th scope="col">DURAÇÃO</th>
        <th scope="col">CATEGORIA</th>
      </tr>
    </thead>
    <tbody>
			<tr th:each="filme : ${objetos}">
				<td th:text="${filme.titulo}"></td>
				<td th:text="${filme.duracao}"></td>
				<td th:text="${filme.categoria.nome}"></td>
				<td> <a th:href="@{/administrador/filmes/delete/{id}(id=${filme.id})}">Remover Filme</a></td>
				<td> <a th:href="@{/administrador/filmes/edit/{id}(id=${filme.id})}">Editar Filme</a></td>
			</tr>
	</tbody>
  </table>

  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>